* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #040924;
}

.container {
    width: 300px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #0c3440;
}

.box-input input {
    padding: 10px;
    width: 85%;
    border: 1px solid #333;
    border-radius: 5px;
}

.box-input {
    margin-bottom: 10px;
}

#box-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 75%;
    height: 30px;
    background-color: #454c72;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    height: 250px;
}

#resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    opacity: 0;
}

.linha {
    color: #0c3440;
    font-weight: bold;
    font-size: 15px;
}

.container.active #resultado {
    opacity: 1;
}

.tabela, tr, td{
    border-collapse: collapse;
    border-bottom: 1px solid #998787;
    text-align: center;
    padding: 10px;
    color: #0c3440;
    font-size: 10px;

}

.primeira-linha{
    font-size: 14px;
    color: #454c72;
    margin-left: 10px;
}



.tabela-container{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
