*{
    margin: 0;
    padding: 0;
}

body main, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, footer{
    margin-bottom: 100px;
}

footer{
    border: 1px solid #909090;
    width: 100%;
    text-align: center;
}
